html, body {
    font-size:62.5%; background-color:white !important;
}
@font-face {
    font-family:Roboto; src:url('fonts/Poppins-Light.ttf'); 
}
@font-face {
    font-family:RobotoBold; src:url('fonts/Made-Tommy.otf'); 
} 

.form-control {
    border-radius:.4rem; font:normal 1.4rem/2.24rem 'Roboto' !important; color:rgb(18,18,18);letter-spacing:.05rem;
    margin-bottom:2rem; box-shadow:none !important; outline:none !important;
}

.home {
    border-radius:0; background-color:white;
}
.home .cardbox {
    background-image: linear-gradient(to left, rgb(176, 197, 202),rgb(229, 156, 223)); padding:6rem; border-radius:1rem;
    border:none;
}
.nav-pills .nav-item .nav-link {
    padding:.4rem 1.6rem;
}
.nav-pills .nav-item .active {
    border-bottom:.2rem solid rgb(176, 197, 202); background-color: white;
}
.nav-pills .active h6 {
    color:rgb(176, 197, 202) !important;
}
.home .cardinfo {
    padding:2rem; border:.2rem solid rgb(245,245,245); margin-bottom:2rem; border-radius:1rem;
}
.home .cardinfo a {
    text-decoration: none; cursor:pointer;
}

.btnprimary {
    background-color:rgb(0, 70, 128); padding:1rem 2rem; border:none; outline:none; color:white; width:auto;
    font:normal 1.4rem/2.24rem 'Roboto' !important; text-align:center; letter-spacing:.05rem; border-radius:.8rem;
}
.btnsecond {
    background-color:white; padding:1.4rem 2rem; width:auto; border:none; outline:none; color:rgb(18,18,18);
    font:normal 1.4rem/2.24rem 'RobotoBold' !important; text-align:center; letter-spacing:.05rem; border-radius:.8rem;
}
.btnprimary:focus, .btnsecond:focus {
    outline:none;
}
.modal-dialog, .modal-content {
    padding:1.2rem; border-radius:1.2rem;
}


h1 {
    font:normal 4.2rem/4.6rem 'RobotoBold'; color:rgb(18,18,18); margin-bottom: 2rem; margin-top:2rem; letter-spacing:.05rem;
}
h3 {
    font:normal 2.8rem/3.84rem 'RobotoBold'; color:rgb(18,18,18); text-align:left; margin:0rem; letter-spacing:.05rem;
}
h4 {
    font:normal 2.4rem/2.88rem 'RobotoBold'; color:rgb(18,18,18); text-align:center; letter-spacing:.05rem;
}
h5 {
    font:normal 1.8rem/2.88rem 'RobotoBold'; color:rgb(18,18,18) !important; text-align:center; letter-spacing:.05rem;
}
h6 {
    font:bold 1.4rem/2.24rem 'Roboto' !important; color:rgb(18,18,18) !important; letter-spacing:.07rem;
}
p {
    font:normal 1.4rem/2.24rem 'Roboto' !important; color:rgb(18,18,18); letter-spacing:.05rem;
}